<h2
  style="
    font-size:{{ block.settings.size }}px;
    font-weight:{{ block.settings.weight }};
    color:{{ block.settings.color }};
  "
  {{ block.shopify_attributes }}
>
  {{ block.settings.headline }}
</h2>

{% schema %}
{
  "name": "Vet Headline",
  "settings": [
    { "type": "inline_richtext", "id": "headline", "label": "Text", "default": "Veterinarian-Approved" },
    { "type": "range", "id": "size", "label": "Font Size", "min": 0, "max": 100, "unit": "px", "default": 26 },
    {
      "type": "range",
      "id": "weight",
      "label": "Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "unit": "px",
      "default": 400
    },
    { "type": "color", "id": "color", "label": "Color", "default": "#000" }
  ]
}
{% endschema %}
