<p
  style="
    font-size:{{ block.settings.size }}px;
    font-weight:{{ block.settings.weight }};
    color:{{ block.settings.color }};
  "
  {{ block.shopify_attributes }}
>
  {{ block.settings.desc }}
</p>

{% schema %}
{
  "name": "Vet Desc",
  "settings": [
    { "type": "inline_richtext", "id": "desc", "label": "Text", "default": "All products from Dr. Ernie's are vetted and approved by a qualified veterinarian, ensuring top-quality care for your pet." },
    { "type": "range", "id": "size", "label": "Font Size", "min": 0, "max": 100, "unit": "px", "default": 16 },
    {
      "type": "range",
      "id": "weight",
      "label": "Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "unit": "px",
      "default": 400
    },
    { "type": "color", "id": "color", "label": "Color", "default": "#A4A4A4" }
  ]
}
{% endschema %}
